@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Poppins", sans-serif;
  background: #dbeafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  margin: 2rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

input {
  padding: 10px;
  width: 60%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer{
  text-align: center;
}
footer p {
  background: white;
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
}

#weatherResult {
  margin-top: 20px;
}

body.sunny {
  background-image: url('/static/images/sunny.jpg');
  background-size: cover;
  background-position: center;
}

body.rainy {
  background-image: url('/static/images/rainy.jpg');
  background-size: cover;
  background-position: center;
}

body.haze{
  background-image: url('/static/images/haze.jpg');
  background-size: cover;
  background-position: center;
}

body.cloudy {
  background-image: url('/static/images/cloudy.jpg');
  background-size: cover;
  background-position: center;
}

body.default {
  background-color: #f0f8ff;
}